.buttonRed {
    background-color: red;
    border: 0px;
    color: white; /* /* display: flex; */
    border-radius: 4px;

    padding: 8px 18px;
    opacity: 0.9;

    font-family: 'Kanit', sans-serif;
}

.buttonGreen {
    background-color: green;
    border: 0px;
    color: white; /* /* display: flex; */
    border-radius: 4px;

    padding: 8px 18px;
    opacity: 0.9;

    font-family: 'Kanit', sans-serif;
}

.boxEdit {
    background-color: whitesmoke;
    width: 70%;
    font-weight: 900;
    font-size: medium;
    letter-spacing: 1.25px;

    padding-left: 20px;

    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:0;
    font-family: 'Kanit', sans-serif;
}

.boxEditTwo {
    width: 100%;
    height: 5rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border:0;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

    letter-spacing: 1.25px;
    font-weight: 500;
    font-size: medium;
    font-family: 'Kanit', sans-serif;
}